/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #351D77;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  box-sizing: border-box;  
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles (for mobile)
   ========================================================================== */

/*General Styles*/

html{
  font-size: 16px;
}

body {
  font-family:'Nunito Sans', sans-serif;
  color: #351D77;
  text-align: left;
  background-color: white;
  box-sizing: border-box;
}

ul, 
ol {
  list-style-type: none;

}

a {
  color: #351D77;
  text-decoration: underline;
  font-size: 1.25em;
  text-transform: uppercase;
  font-family:'Nunito Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Alata', sans-serif;
  font-size: 2.5em;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #351D77;
  font-family:'Nunito Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  margin: 60px 0px 0px;
}

h3 {
  font-family: 'Alata', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  text-align: center;
}

h4 {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
  padding-top: 10px;
}

p {
  font-family:'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.25;
  text-align: left;
}

img {
  width: 100%;
}

.content-wrapper {
  width: 90%;
}

/*---------Base Header - Footer Styles ---------*/

header, 
footer {
  background-color: #E8F0E4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header img {
  width: 60%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 7px double #351D77;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 40px;
}

header nav {
  width: 100%;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0px;
  flex-wrap: wrap;
}

header nav ul li {
  font-size: 0.70em;
  font-weight: bold;
  text-transform: uppercase;
}

nav #contact-link {
  background-color: #E9B14C;
  padding: 10px 10px;
  border-radius: 30px;
  font-weight: bold;
}

nav a {
  font-weight: bold;
}

.introduction span {
  color:#351D77;
  font-weight: bold;
}

footer {
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
  justify-content: center;
  text-align: center;
}

#contact a {
  justify-content: center;
  text-align: center;
  color:#351D77;
  font-family:'Nunito Sans', sans-serif;
  text-transform: lowercase;
  font-style: normal;
  font-size: 20px;
}

footer .content-wrapper {
  max-width: 640px;
  width: 80%;
  margin: 50px 0;
  align-items: center;
}

footer .contact {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

footer .contact-info p {
  color: #351D77;
  text-align: center;
}

#contact img {
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px double #351D77;
  margin-top: 30px;  
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  flex-wrap: wrap;  
}

footer .social-icons p i {
  font-size: 1.3125em;
  color: #E9B14C;
}

footer .copyright {
  margin: 0;
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

/*-----------------------Mobile Styles - Homepage ------*/

/* About Me */

#about-me {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

#about-me .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-bottom: 80px;
}

#about-me h3 {
  margin: 20px 0;
  width: 100%;
}

#about-me img {
  width: 60%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 7px double #351D77;
}

/* Projects */

#projects {
  background-color: #E8F0E4;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

#projects p {
  width: 100%;
  text-align: left;
}

#projects h3 {
  margin: 0;
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.project-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-piece img {
  box-sizing: border-box;
}

.project-piece h4 {
  margin: 0 20px 0 40px;
}


.project-piece img {
  border-radius: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px double #351D77;
  margin-top: 20px;
}

.project-link {
  color: #E8F0E4;
  background-color: #351D77;
  padding: 10px 10px;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 40px; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.skills span {
  font-weight: bold;
}

.tools span {
  font-weight: bold;
}

/* Skills and Tools */

.skills-tools li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
}

.skills-tools ul {
  padding-left: 0px;
}

.tools  {
  flex-grow: 1;
}

#skills-tools {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Tablet
========================================================================== */


@media only screen and (min-width: 768px) {
  /*Tablet Styles here*/

  /*General Styles*/
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  header h1 {
    font-size: 3em;
    padding-top: 20px;
    color: #351D77;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 2.0em;
  }

  /*Header*/

  header {
    justify-content: space-around; 
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
    padding-top: 0px;
    background-color: #E8F0E4;
  }

  header img {
    width: 40%;
    border-radius: 50%;
    display: flex;
    border: 7px double #351D77;
  }

  header nav {
    width: 100%;
    align-items: flex-start;
    padding-bottom: 80px;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  /*About Me*/

  #about-me {
    padding-top: 0px;
  }

  #about-me .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
  }

  .paragraph-about {
    display: flex;
    flex-flow: column;
    width: 40%;
  }

  #about-me h3 {
    width: 70%;
    margin-top: 0;
  }

  #about-me img {
    width: 40%;
    border-radius: 50%;
    display: flex;
    border: 7px double #351D77;
}

  /*Projects*/

  #projects {
    width: 100%
  }

  .portfolio-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
  }

  .project-piece {
    width: 45%;
  }

  /*Skills and Tools*/

  /*Footer*/

  footer {
    padding: 100px 0 80px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
  }

  #contact .content-wrapper {
    width: 85%; 
    max-width: 640px;
  }

  footer .contact h4 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }


  #contact h3 {
    width: 100%;
    color: #351D77;
    text-align: center;
  }


  #contact .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #contact .contact-info {
    margin: 80px 0;
  }

  #contact .contact-info p {
    color: #351D77;
    text-align: center;
    font-size: 1em;
  }

  #contact a {
    font-size: 16px;
  }

  #contact .contact-image {
    width: 80%;
    padding-right: 40px;
    padding-left: 40px;
  }

  #contact .social {
    align-items: center;
    justify-content: center;
  }

  #contact .social-icons {
    width: 12.5em;
    justify-content: space-around;
    padding-left: 0px;
  }

  .social h4 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #351D77;
  }

  footer .copyright {
    width: 100%;
    color: #351D77;
    display: flex;
    justify-content: center;
    font-size: 1em;
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-content h4 {
    font-size: 1.5em;
  }
}

    /* ==========================================================================
   Desktop
  ========================================================================== */

@media only screen and (min-width: 1200px) {
  /*Desktop Styles here*/

  /*General Styles*/
  header {
    padding: 15px 0;
  }
  header .content-wrapper {
    max-width: 960px;
  }

  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  /*Header*/

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F0E4;
  }

  header .content-wrapper {
    max-width: 80%;
    justify-content: center;
    padding-top: 0px;
  }

  header .header-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #E8F0E4;
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .header-content img {
    width: 30%;
    border: 7px double #351D77;
    border-radius: 50%;
    justify-content: space-around;
  }

  header nav {
    width: 45%;
    background-color: #E8F0E4;
    padding-bottom: 20px;
  }

  .introduction {
    width: 55%;
  }

  .introduction h1 {
    color: #351D77;
    width: 100%;
    font-size: 3em;
    margin: 60px 0;
  }

  .introduction h2 {
    width: 100%;
    margin: 15px 0;
  }

  /*About Me*/

  #about-me .content-wrapper {
    max-width: 65%;
    align-items: center;
  }

  /*Projects*/

  #projects .content-wrapper {
    max-width: 85%;
  }

  #projects h3 {
    padding-bottom: 60px;
  }

  .project-piece {
    width: 30%;
  }

  /*Skills and Tools*/

  #skills-tools .content-wrapper {
    max-width: 65%;
  }

  /*Footer*/

  footer {
    padding: 80px 0 80px 0;
  }

  footer .social-icons p i {
    font-size: 2em;
  }

  #contact {
    display: flex;
    justify-content: center;
  }

  #contact .content-wrapper {
    max-width: 80%;
    background-color: #E8F0E4;
    justify-content: center;
  }

  #contact .footer-content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
  }

  #contact .contact-image {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  #contact .contact-info {
    width: 35%;
  }

  #contact .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 35%;
  }

  .social {
    background-color: #E8F0E4;
  }

  #contact .social-icons {
    justify-content: space-between;
    padding: 0px;
  }

  .social h4 {
    font-size: 2em;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 0px;
  }

  #contact .contact-info p {
    padding: 0px;
    font-size: 26px;
    font-family:'Nunito Sans', sans-serif;
  }

  #contact a {
    font-size: 22px;
    font-family:'Nunito Sans', sans-serif;
  }

  #contact .contact-info-wrapper {
    width: 90%;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

